@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
body{ font-family: 'Oxygen', sans-serif !important; color: #3E3E3E !important; font-weight: 400; line-height: initial; font-size: 18px;;}
.text-center{ text-align: center; }

.typeFlex{display: flex; flex-direction: column;}
.relative{position: relative;}
.absolute{position: absolute;}
.inherit{position: inherit;}
.middle-align{display: flex; align-items: center; justify-content: center;}
.bold-900{font-weight: 900;}

/* color */
.color-white{color: #fff !important;}
.color-soft-grey{color: #D8D8D8 !important;}
.color-grey{color: #b3b3b3 !important;}
.color-black{color: #3E3E3E !important;}
.color-red{color: #FD1713 !important;}
.color-soft-blue{color: #00A2EA !important;}
.color-blue{color: #0D60A9 !important;}

/* background */
.bg-white{background: #fff !important;}
.bg-soft-grey{background: #D8D8D8 !important;}
.bg-grey{background: #4E4E4E !important;}
.bg-black{background: #3E3E3E !important;}
.bg-red{background: #FD1713 !important;}
.bg-soft-blue{background: #00A2EA !important;}
.bg-blue{background: #0D60A9 !important;}

/* margin */
.mt-10{margin-top: 10px;}
.mt-15{margin-top: 15px;}
.mt-20{margin-top: 20px;}
.mt-30{margin-top: 30px;}
.mt-40{margin-top: 40px;}
.mt-45{margin-top: 45px;}
.mt-50{margin-top: 50px;}
.mt-90{margin-top: 90px !important;}
.mt-100{margin-top: 100px !important;}
.mt-150{margin-top: 150px !important;}

.mr-10{margin-right: 10px;}
.mr-15{margin-right: 15px;}
.mr-20{margin-right: 20px;}

.ml-10{margin-left: 10px;}
.ml-15{margin-left: 15px;}
.ml-20{margin-left: 20px;}
.ml-25{margin-left: 25px;}
.ml-30{margin-left: 30px;}
.ml-35{margin-left: 35px;}

.mb-0{margin-bottom: 0px !important;}
.mb-10{margin-bottom: 10px !important;}
.mb-20{margin-bottom: 20px !important;}
.mb-30{margin-bottom: 30px !important;}
.mb-40{margin-bottom: 40px !important;}
.mb-50{margin-bottom: 50px !important;}

/* padding */
.p-0{padding: 0 !important}
.p-10{padding: 10px !important}
.p-20{padding: 20px !important}
.p-30{padding: 30px !important}
.p-40{padding: 40px !important}

.pt-40{padding-top: 40px !important}
.plr-30{padding: 0 30px;}
.ptb-20{padding: 20px 0;}


/* logo */
.logo img{padding: 10px}
h1.ant-typography, .ant-typography h1{font-size: 35px; margin-bottom: 0;}
div.ant-typography, .ant-typography p{display: block; line-height: 1.5em;}

.ant-layout-header{ height: auto; background: none; box-shadow: 0 2px 8px 0 rgba(187, 187, 187, 0.5); padding: 0}
.ant-layout-header.absolute{ position: absolute; top: 0; left: 0; right: 0; z-index: 2; box-shadow: none}
.ant-layout-header.absolute .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected{border-bottom: 1px solid #fff}
.ant-layout-header.absolute .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover{border-bottom: 1px solid #fff}
.ant-layout-header.absolute .ant-menu-horizontal > .ant-menu-item a{color: #fff;}
.ant-layout-header.absolute .ant-menu-horizontal > .ant-menu-submenu > .ant-menu-submenu-title{color: #fff;}

.ant-layout-header .ant-menu{display: flex; justify-content: flex-end; background: none; border-bottom: 0; line-height: initial; }
.ant-layout-header .ant-menu-horizontal > .ant-menu-item a{font-size: 16px;}
.ant-layout-header .ant-menu-horizontal > .ant-menu-submenu > .ant-menu-submenu-title{font-size: 16px;;}

.ant-layout{background: #fff;}
.ant-divider-horizontal{margin: 10px 0}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu{ margin: 0 15px; }
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{background: #fff;}

/* footer */
.footer{background: #0D60A9; padding: 20px 0}
.footer .sosmed{color: #fff; font-size: 25px}

/* swiper */
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{color: #fff}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{color: #fff}

/* #nprogress .bar */
#nprogress .bar{background: #00A2EA; height: 4px}
#nprogress .spinner{display: none;}

/* wordpress */
.alignright {text-align: right;}
.aligncenter {text-align: center;}
.has-text-align-center {text-align: center;}
.has-text-align-right {text-align: right;}
.wp-block-embed__wrapper{width: 100%; height: 300px;}

iframe{width: 100%; height: 100%;}
video{width: 100%; height: 100%;}


@media only screen and (max-width: 400px) {
  h1.ant-typography, .ant-typography h1{font-size: 27px;}
  h2.ant-typography, .ant-typography h2{font-size: 20px;}
  h3.ant-typography, .ant-typography h3{font-size: 18px;}
  p{font-size: 15px;}
}
@media only screen and (max-width: 980px) {
  
  .mtm-0{margin-top: 0px;}
  .mtm-10{margin-top: 10px;}
  .mtm-15{margin-top: 15px;}
  .mtm-20{margin-top: 20px;}
  .mtm-30{margin-top: 30px;}
  .mtm-40{margin-top: 40px;}
  .mtm-90{margin-top: 90px !important;}
  .mtm-150{margin-top: 150px !important;}

  .mrm-10{margin-right: 10px;}
  .mrm-15{margin-right: 15px;}
  .mrm-20{margin-right: 20px;}

  .mlm-0{margin-left: 0px;}
  .mlm-10{margin-left: 10px;}
  .mlm-15{margin-left: 15px;}
  .mlm-20{margin-left: 20px;}
  .mlm-25{margin-left: 25px;}
  .mlm-30{margin-left: 30px;}
  .mlm-35{margin-left: 35px;}

  .mbm-0{margin-bottom: 0px !important;}
  .mbm-10{margin-bottom: 10px !important;}
  .mbm-20{margin-bottom: 20px !important;}
  .mbm-30{margin-bottom: 30px !important;}
  .mbm-40{margin-bottom: 40px !important;}
  .mbm-50{margin-bottom: 50px !important;}

  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected{border-bottom: 0;}
  .ant-layout-header.absolute{ position: relative; }
  .ant-menu-submenu-title .anticon{ color: #000; font-size: 20px; margin-right: 0; }
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu{ margin: 0 }
}