/* homePage */
.homePage .homeSlide .homeSlideIns{ position: relative; }
/* .homePage .homeSlide .homeSlideIns ._img:after{ content: ''; background: rgba(0,0,0,0.5); position: absolute; top: 0; right: 0; bottom: 0; left: 0; } */
.homePage .homeSlide .homeSlideIns ._ttl{ position: absolute; z-index: 2; bottom: 100px; font-size: 60px; }
  
  .homePage .subMenu{ position: relative; padding: 20px; box-shadow: 0 2px 10px 0 rgba(187, 187, 187, 0.5); margin-top: 40px; z-index: 3; background: #fff; border-radius: 20px; }
  .homePage .subMenu .subMenuIns{margin: 0 2%; text-align: center; position: relative;}
  .homePage .subMenu .subMenuIns ._ic{background: #00A2EA; padding: 26px 30px; color: #fff; font-size: 32px; border-radius: 100%;}
  .homePage .subMenu .subMenuIns ._txt{margin-top: 10px}
  /* .homePage .subMenu .subMenuIns:hover > .subCategory{display: block;} */
  .homePage .subMenu .subCategory{display: none; position: absolute; left: 0; bottom: -40px; right: 0; background: #ddd; padding: 10px; border-radius: 5px; text-align: left;}
  
.homePage .homeNews .titleNews{font-size: 25px; font-weight: 900; margin-bottom: 10px}
.homePage .homeNews .titleNews::before{content: ''; float: left; background: red; width: 5px; height: 100%; margin-right: 20px;}

  .homePage .homeNews .homeNewsIns{position: relative;}
  .homePage .homeNews .homeNewsIns ._img{position: relative;}
  .homePage .homeNews .homeNewsIns ._img:before{content: ''; position: absolute; top: 2px; right: 2px; bottom: 2px; left: 2px; background: rgba(0, 0, 0, 0.3)}
  .homePage .homeNews .homeNewsIns ._ttl{position: absolute; bottom: 0; left: 0; right: 0;bottom: 0; left: 0; right: 0; font-size: 17px; padding: 15px !important}

/* listCategory */
.listCategory .banner{position: relative;}
.listCategory .banner ._img:before{content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.3);}
.listCategory .banner ._ttl{position: absolute; bottom: 40px; text-transform: capitalize; color: #fff;}
.listCategory .banner ._ttl h1{color: #fff; font-size: 60px; background: #FD1713; padding: 0 30px;}
  
  .listCategory .listMenu{border-right: 1px solid #ddd; padding-right: 50px; margin-top: 57px;}
  .listCategory .listMenu .listMenuIns{position: relative; padding: 25px 0}
  .listCategory .listMenu .listMenuIns.active:after, .listCategory .listMenu .listMenuIns:hover:after{content: ''; position: absolute; top: 40px; right: -37px; width: 10px; height: 10px; background: #00A2EA; border-radius: 100%;}
  .listCategory .listMenu .listMenuIns ._ic{color: #00A2EA; font-size: 25px;}

.listCategory .listNews ._img:before{content: ''; position: absolute; top: 2px; right: 2px; bottom: 2px; left: 2px; background: rgba(0, 0, 0, 0.3)}
.listCategory .listNews ._ttl{position: absolute; bottom: 0; left: 0; right: 0;bottom: 0; left: 0; right: 0; font-size: 17px; padding: 15px !important}

/* detailPage */
/* .detailPage .sidebar{background: #ddd; padding: 20px} */
.detailPage .pageIns img{max-width: 100%; height: auto;}

@media only screen and (max-width: 980px) {
  .logo img{padding: 0;}
  .homePage .homeSlide .homeSlideIns ._ttl{display: none; font-size: 20px; bottom: 20px;}

  /* .homePage .subMenu */
  .homePage .subMenu{margin-top: 0; box-shadow: inherit; padding: 20px 0}
  .homePage .subMenu .subMenuIns{margin: 10px 0}
  .listCategory .banner ._ttl{bottom: 0;}
  .listCategory .banner ._ttl h1{font-size: 20px; padding: 5px 25px}
  .listCategory .listCategoryNew{margin-bottom: 40px !important;}
  /* .listCategory .listCategoryNew .listNews{width: 100%;} */

  .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{width: 30px !important; height: 30px !important;}
  .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{width: 30px !important; height: 30px !important;}
}