.wp-block-media-text {
	direction: ltr;
	display: grid;
	grid-template-columns: 50% 1fr;
	grid-template-rows: auto;

	&.has-media-on-the-right {
		grid-template-columns: 1fr 50%;
	}
}

.wp-block-media-text.is-vertically-aligned-top {
	.wp-block-media-text__content,
	.wp-block-media-text__media {
		align-self: start;
	}
}
.wp-block-media-text,
.wp-block-media-text.is-vertically-aligned-center {
	.wp-block-media-text__content,
	.wp-block-media-text__media {
		align-self: center;
	}
}

.wp-block-media-text.is-vertically-aligned-bottom {
	.wp-block-media-text__content,
	.wp-block-media-text__media {
		align-self: end;
	}
}

.wp-block-media-text .wp-block-media-text__media {
	grid-column: 1;
	grid-row: 1;
	margin: 0;
}

.wp-block-media-text .wp-block-media-text__content {
	direction: ltr;
	
	grid-column: 2;
	grid-row: 1;
	
	padding: 0 8% 0 8%;
	word-break: break-word;
}

.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media {
	grid-column: 2;
	grid-row: 1;
}

.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
	
	grid-column: 1;
	grid-row: 1;
	
}

.wp-block-media-text__media img,
.wp-block-media-text__media video {
	max-width: unset;
	width: 100%;
	vertical-align: middle;
}

.wp-block-media-text.is-image-fill figure.wp-block-media-text__media {
	height: 100%;
	min-height: 250px;
	background-size: cover;
}

.wp-block-media-text.is-image-fill figure.wp-block-media-text__media > img {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
